<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIHUB</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav>
    <div>
        <h2>UNIHUB</h2>
    </div>
    <div>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Features</a>
        <a href="#">Contact</a>
    </div>
    <div>
        <a href="#">Login</a>
        <a href="#"
           style="background:#2563eb;
                      color:white;
                      padding:10px 18px;
                      border-radius:6px;">
            Register
        </a>
    </div>
</nav>

<section class="hero">

    <h1>Empowering Students & Faculty</h1>

    <p>
        Your one-stop platform to connect, collaborate,
        share resources and build a stronger university community.
    </p>

    <div class="hero-buttons">

        <a href="#" class="btn-primary">Get Started</a>

        <a href="#" class="btn-secondary">Explore Features</a>

    </div>

</section>

</body>
</html>