<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - UNIHUB</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <h2>Welcome Back</h2>
        <p>Login to continue to UNIHUB</p>

        <form th:action="@{/login}" th:object="${user}" method="post">

            <input
                    type="email"
                    th:field="*{email}"
                    placeholder="Email"
                    required>

            <input
                    type="password"
                    th:field="*{password}"
                    placeholder="Password"
                    required>

            <button type="submit">
                Login
            </button>

        </form>

        <p
                th:if="${error}"
                th:text="${error}"
                style="color:red;font-weight:bold;">
        </p>
        <p>
            Don't have an account?
            <a href="/register">
                Register
            </a>
        </p>
    </div>
</div>

</body>
</html>