<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - UNIHUB</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <h2>Welcome Back</h2>
        <p>Login to continue to UNIHUB</p>
        <form>
            <input type="email"
                   placeholder="Email">
            <input type="password"
                   placeholder="Password">
            <button type="submit">
                Login
            </button>
        </form>
        <p>
            Don't have an account?
            <a href="/register">
                Register
            </a>
        </p>
    </div>
</div>

</body>
</html>